<%= render 'form'%>
<br>
<table class="table">
  <% if @weather.city.present? %>
  <tr class="bg-primary"><td colspan="2">The current weather of <strong><%=@weather.city%></strong> is:</td></tr>
  <% else %>
  <tr class="bg-warning"><td colspan="2">Someplace in the world has this weather:</td></tr>
  <% end %>
  <tr>
    <td><%= image_tag "http://openweathermap.org/img/w/#{@result[:icon]}.png" %></td>
    <td>Temp avg: <%= @result[:tmp]%> ºC</td>
  </tr>
  <tr>
    <td>Longitude: <%= @result[:lon]%></td>
    <td>Latitude: <%= @result[:lat]%></td>
  </tr>
  <tr>
    <td>Weather: <%= @result[:weather]%></td>
    <td>Description: <%= @result[:desc]%></td>
  </tr>
  <tr>
    <td>Temp min: <%= @result[:tmp_min]%> ºC</td>
    <td>Temp max: <%= @result[:tmp_max]%> ºC</td>
  </tr>
  <tr>
    <td colspan="2"><h4 class="text-center"><%= @result[:message]%></h4></td>
  </tr>
</table>
